build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/multi_pc_sync
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-88fa50c0722380ed46d5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-2fc19a1145c1849987aa.json
build/.cmake/api/v1/reply/codemodel-v2-2d592f570a2500e6ad22.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-06-07T14-24-00-0265.json
build/.cmake/api/v1/reply/target-multi_pc_sync-Debug-1cf60c1d77640ba96a7b.json
build/.cmake/api/v1/reply/toolchains-v1-13b4911065403c96d848.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.0.2/CMakeCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.2/CMakeSystem.cmake
build/CMakeFiles/4.0.2/CompilerIdC/a.out
build/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.2/CompilerIdCXX/a.out
build/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/multi_pc_sync.dir/client.cpp.o
build/CMakeFiles/multi_pc_sync.dir/directory_indexer.cpp.o
build/CMakeFiles/multi_pc_sync.dir/file.pb.cc.o
build/CMakeFiles/multi_pc_sync.dir/folder.pb.cc.o
build/CMakeFiles/multi_pc_sync.dir/growing_buffer.cpp.o
build/CMakeFiles/multi_pc_sync.dir/main.cpp.o
build/CMakeFiles/multi_pc_sync.dir/program_options.cpp.o
build/CMakeFiles/multi_pc_sync.dir/server.cpp.o
build/CMakeFiles/multi_pc_sync.dir/socket_helpers.cpp.o
build/CMakeFiles/multi_pc_sync.dir/sync_command.cpp.o
build/CMakeFiles/multi_pc_sync.dir/tcp_command.cpp.o
build/CMakeFiles/multi_pc_sync.dir/hash/md5_wrapper.cpp.o
file.pb.cc
file.pb.h
folder.pb.cc
folder.pb.h
