# Optional configuration file for the multi-pc-sync program
# Commented-out config items are the default values if not specified.
# After making changes to the config file, include it in the program
# with the --cfg=<path> command line argument

# CONFLICT_ON_FILE_CREATION*
#   When a file at the same path is created by both the server and 
#   the client, but with different content.
#
# CONFLICT_ON_FILE_CREATION_PRIORITY
# options are:
#   client: client file wins
#   server: server file wins
#   newest: newest file wins
#   oldest: oldest file wins
#
# CONFLICT_ON_FILE_CREATION_BEHAVIOR
# options are:
#   overwrite:  file that wins overwrites file that loses. file that loses is erased.  (data loss)
#   rename:     file that wins overwrites file that loses. file that loses is renamed. (no data loss)

# CONFLICT_ON_FILE_CREATION_PRIORITY=client  # default value
# CONFLICT_ON_FILE_CREATION_BEHAVIOR=overwrite  # default value

# CONFLICT_ON_FILE_MODIFICATION*
#   When a file at the same path is modified by both the server and 
#   the client, but with different content.
#
# CONFLICT_ON_FILE_MODIFICATION_PRIORITY
# options are:
#   client: client file wins
#   server: server file wins
#   newest: newest file wins
#   oldest: oldest file wins
#
# CONFLICT_ON_FILE_MODIFICATION_BEHAVIOR
# options are:
#   overwrite:  file that wins overwrites file that loses. file that loses is erased.  (data loss)
#   rename:     file that wins overwrites file that loses. file that loses is renamed. (no data loss)

# CONFLICT_ON_FILE_MODIFICATION_PRIORITY=client  # default value
# CONFLICT_ON_FILE_MODIFICATION_BEHAVIOR=overwrite  # default value


# CONFLICT_ON_DELETED_AND_MODIFIED
# If one side deletes the path, and the other modifies it, it creates a conflict
# options are:
#   delete: delete the file (data loss)
#   keep:   keep the file (no data loss)
# CONFLICT_ON_DELETED_AND_MODIFIED=delete  #default value


# CONFLICT_ON_DOUBLE_MOVE
# If both sides move/rename the path to a different location, it creates a conflict
# options are:
#   keep: keep both paths (no data loss)
#   client: move to the client path only
#   server: move to the server path only
CONFLICT_ON_DOUBLE_MOVE=keep  #default value


